/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background-color: #f4f4f4;
}

#quiz-container {
    inline-size: 60%;
    max-inline-size: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    margin-block-end: 20px;
}

#choices {
    margin-block-end: 20px;
}

.choice {
    margin-block-end: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-inline-end: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #6c757d;
}

button#clear-selection {
    background-color: #ffc107;
    color: black;
}

button#clear-selection:hover {
    background-color: #e0a800;
} */


body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcmkt-image-prd.freetls.fastly.net%2F0.1.0%2Fps%2F6151529%2F600%2F400%2Fm2%2Ffpnw%2Fwm0%2Fquiz-1-.jpg%3F1553762089%26s%3Dd96068830e77e43075284f52d4039c72&f=1&nofb=1&ipt=8ac730d6beb468b5ccee3a32c93d6155e8cc33955aed77c40f76e06b4f2c1e34&ipo=images');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

.quiz-container {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    inline-size: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-block-end: 20px;
}