.home__container {
    background: #fff;
    max-inline-size: 100%;
    padding-inline: 5rem;
}


/* ============ FEATURES ========== */
.home__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: .1rem solid #a7a0a0;
    padding: 1rem;
    inline-size: 100%;
    gap: 3rem;
    margin-block: 6rem;
}

.feature {
    inline-size: auto;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.feature img {
    inline-size: 7rem;
}

/* ============ CATEGORIES ========== */
.categories__container {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    gap: 1.5rem;

}

.category {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
}

.category p {
    font-weight: bold;
    margin-block-start: 1rem;
    text-align: center;
    font-size: 1rem;
}

.category img {
    inline-size: 100%;
    background: #b4aeae;
    padding: .5rem;
    transition: var(--transition);
}

.category img:hover {
    transform: scale(1.1);
}

/* ============ PRODUCTS ========== */
#products,
#collection,
.recommend {
    margin-block: 4rem;
}

.products__container {
    display: flex;
    align-items: center;
    margin: 1.6rem 0;
    overflow: hidden;
    inline-size: 100%;
    position: relative;
}

.slick-slide img {
    block-size: 10rem;
    object-fit: contain;
}

.slider-container {
    inline-size: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-button {
    position: absolute;
    inset-block-start: 30%;
    transform: translateY(-50%, 0);
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border: none;
    padding: 1rem;
    z-index: 10;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    block-size: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-button.prev {
    inset-inline-start: auto;
}

.slider-button.next {
    inset-inline-end: 1rem;
}

.product__desc {
    gap: 1rem;
    text-align: center;
}

.price__listing {
    display: flex;
    justify-content: center;
    margin-block-end: 1rem;
}

.price {
    color: #06E492;
}

.price__listing {
    color: #a7a0a0;
}

button {
    border-radius: 1.2rem;
    padding: .7rem 1rem;
    border: none;
    cursor: pointer;
    transition: background 400ms ease;
    font-size: .9rem;
    text-transform: uppercase;
}

button:hover {
    background: #f87427;
    color: #fff;
}

/* ============ RECOMMEND ========== */
.recommend {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    inline-size: 100%;
}

.recommend img {
    inline-size: 100%;
    max-inline-size: 10rem;
    block-size: auto;
}

.recommend>div {
    display: flex;
    gap: 3rem;
    border-radius: .3rem;
    background: #fdc378;
    inline-size: 100%;
    max-inline-size: 100%;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.text p,
.text button {
    margin-block-start: .3rem;
}

@media screen and (max-width: 600px) {
    .home__container {
        padding-inline: 2rem;
    }

    .home__features {
        justify-content: start;
    }

    .recommend {
        flex-direction: column;
    }

    .recommend>div {
        flex-wrap: wrap;
    }

    .recommend h1 {
        font-size: 1.5rem;
    }
}