/* ============== HEADER ============== */
main {
  padding: 1rem;
  max-inline-size: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  align-items: center;
}

header a {
  color: inherit
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 2rem;
}

/* ============== POST ============== */
.post {
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 1rem;
  margin-block-end: 1.4rem;
}

.texts h2 {
  font-size: 1.8rem;
}

.texts a {
  color: inherit;
}

.info {
  color: #888;
  font-size: .7rem;
  font-weight: bold;
  margin: 1rem 0;
  display: flex;
  gap: .5rem;
}

.info .author {
  color: #333;
}

.summary {
  margin: -.6rem 0;
  line-height: 1.4rem;
}

/* ============== LOGIN/REGISTER ============== */
.login,
.register {
  max-inline-size: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-block-end: .6rem;
  inline-size: 100%;
  padding: .5rem 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  inline-size: 100%;
  display: block;
  background-color: #555;
  color: #fff;
  border-radius: .7rem;
  padding: 1rem 0;
}

.login h1,
.register h1 {
  text-align: center;
}

/* ============== POST-PAGE ============== */
.post-page .img {
  max-block-size: 200px;
  display: flex;
  overflow: hidden;
}

.post-page .img img {
  object-fit: cover;
  object-position: center center;
  inline-size: 100%;
}

.post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page h1 {
  text-align: center;
  margin: 1rem 0 1.3rem;
}

.post-page time {
  text-align: center;
  display: block;
  font-size: .7rem;
  color: #aaa;
}

.post-page .author {
  text-align: center;
  margin-block-end: 2rem;
  font-size: .7rem;
  font-weight: bold;
}

.post-page .content {
  line-height: 1.6rem;
}



/* ============== MEDIA QUERIES ============== */
@media screen and (max-width: 700px) {
  .post {
    grid-template-columns: 1fr;
  }
}