.flex {
  display: flex;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-slide-left {
  animation: slide-left 10s linear infinite;
}

.animate-slide-right {
  animation: slide-right 10s linear infinite;
}